<!doctype html>
<html>
  <head>
    <title>htmlsanitizer.org</title>
    <link rel="stylesheet" href="static/codemirror/lib/codemirror.css" type="text/css" media="screen">
    <style>
      .CodeMirror-scroll {
        height: 700px;
      }
    </style>
  </head>
  <body>
    Make a POST request to this URL. Here are the defaults:
  <script type="text/plain" id="example">{
  html: null,
  tags: [
    "a",
    "abbr",
    "acronym",
    "b",
    "blockquote",
    "code",
    "em",
    "i",
    "li",
    "ol",
    "strong",
    "ul",
  ],
  attributes: {
    "a": ["href", "title"],
    "abbr": ["title"],
    "acronym": ["title"],
  },
  styles: [],
  strip: false,
  strip_comments: true  
}</script>  
  <script src="static/codemirror/lib/codemirror.js"></script>
  <script src="static/codemirror/mode/javascript/javascript.js"></script>
  <script>
    var area = document.getElementById("example");
    var myCodeMirror = CodeMirror(document.body, {
      value: area.innerHTML,
      mode: {name: "javascript", json: true }
    });
  </script>

</body>
</html>